@import "tailwindcss";

body {
  font-family: "General Sans", sans-serif;
  width: 100dvw;
  background-color: "#dfdff0";
  overflow-x: hidden;
}

@layer base {
  @font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "robert-medium";
    src: url("/fonts/robert-medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
    font-display: swap;
  }

  :root {
    --blue-50: #dfdff0;
    --blue-75: #dfdff2;
    --blue-100: #f0f2fa;
    --blue-200: #010101;
    --blue-300: #4fb7dd;

    --violet-300: #5724ff;

    --yellow-100: #8e983f;
    --yellow-300: #edff66;
  }
}

@layer utilities {
  .font-general {
    font-family: general, sans-serif;
  }

  .font-circular-web {
    font-family: circular-web, sans-serif;
  }

  .font-robert-medium {
    font-family: robert-medium, sans-serif;
  }

  .font-robert-regular {
    font-family: robert-regular, sans-serif;
  }

  .bg-blue-50 {
    background-color: var(--blue-50);
  }
  .bg-blue-75 {
    background-color: var(--blue-75);
  }
  .bg-blue-100 {
    background-color: var(--blue-100);
  }
  .bg-blue-200 {
    background-color: var(--blue-200);
  }
  .bg-blue-300 {
    background-color: var(--blue-300);
  }

  .text-blue-300 {
    color: var(--blue-300);
  }

  .bg-violet-300 {
    background-color: var(--violet-300);
  }
  .text-violet-300 {
    color: var(--violet-300);
  }

  .bg-yellow-100 {
    background-color: var(--yellow-100);
  }
  .bg-yellow-300 {
    background-color: var(--yellow-300);
  }
  .text-yellow-300 {
    color: var(--yellow-300);
  }
}
